.cal{
    font-family: sans-serif;
    font-size: 80;
}
.home{
    background-color: wheat;
}
.a1{
    border-radius: 20px;
    width: 50px;
    height: 30px;
    color: black;
    background-color: white;
}
.a2{
    border-radius: 20px;
    width: 50px;
    height: 30px;
    color: black;
    background-color: white;
}
.a3{
    border-radius: 20px;
    width: 50px;
    height: 30px;
    color: black;
    background-color: white;
}
.a4{
    border-radius: 20px;
    width: 50px;
    height: 30px;
    color: black;
    background-color: white;
}
.a5{
    border-radius: 20px;
    width: 50px;
    height: 30px;
    color: black;
    background-color: white;
}
.a6{
    border-radius: 20px;
    width: 50px;
    height: 30px;
    color: black;
    background-color: white;
}
.a7{
    border-radius: 20px;
    width: 50px;
    height: 30px;
    color: black;
    background-color: white;
}
.a8{
    border-radius: 20px;
    width: 50px;
    height: 30px;
    color: black;
    background-color: white;
}
.a9{
    border-radius: 20px;
    width: 50px;
    height: 30px;
    color: black;
    background-color: white;
}
